*{
    background: brown;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
}

p{
    text-align: center;
    color: lightsteelblue;
    font-size: 30px;
}

#search{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 30px;
}
input{
    border: 4px solid orange;
    width: 500px;
    height: 30px;
    padding: 10px;
}