*{
    background: brown;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
}


p{
    text-align: center;
    color: lightsteelblue;
    font-size: 30px;
}
img{
    height: 230px;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
}
button{
    padding: 5px;
    font-size: 15px;
    color: white;
    border-radius: 30px;
    background: orange;
    margin-left: 5%;
    margin-top: 5%;

}

#search{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 30px;
}
input{
    border: 4px solid orange;
    width: 500px;
    height: 30px;
    padding: 10px;
}
#display-box{
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid gray;
    height: 100%;
    width: 80%;
}
